@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/FondoIS.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
    margin: 0;
    padding: 0;
}


/* ENCABEZADO */

header {
    margin: 0;
    padding: 25px 40px 15px 40px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-encabezado ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 50px;
}

#linkc {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

#linkact {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #AD3636;
    font-size: 20px;
    font-weight: bold;
}

#linkc:hover {
    color: #ffaa2a;
    text-decoration: underline;
}

/* CUERPO */
.relleno {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px;
    background-color: #00000018;
    color: #000000;
    height: calc(100vh - 160px); 
}

.contenido {
    margin: auto;
    padding: 30px 50px 40px;
    text-align: center;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    line-height: 1.5;
}

.contenido a {
    margin: 0 10px;
    display: inline-block;
    background-color: #8F2626;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.contenido a:hover {
    background-color: #eec9c9;
    color: #570c0c;
}

.form-control{
    margin: 3px;
}

form input {
    margin: 0 10px;
    display: inline-block;
    background-color: #f2feff;
    border-color: #91abff;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

#btnProcesar {
    margin: 9px 10px;
    display: inline-block;
    background-color: #dda60f;
    border: none;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 15px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

#btnProcesar:hover {
    background-color: #f5e9b3;
    color: #dda60f;
}

#resetear {
    margin: 9px 10px;
    display: inline-block;
    background-color: #dda60f;
    border: none;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 15px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

#resetear:hover {
    background-color: #f5e9b3;
    color: #dda60f;
}

/* FOOTER */

footer {
    margin: 0px;
    padding: 20px 10px 15px;
    background-color: #340808;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 10px;
}

footer p a{
    text-decoration: none;
    color: #ffffff;
}

footer p a:hover{
    text-decoration: underline;
    color: #fff1c5;
}