/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fff7e6, #ffd6a5);
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ffcc99, #ffaf7a);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

header .logo {
    height: 50px;
    margin-right: 20px;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

header nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

header nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
}

.sidebar {
    width: 20%;
    max-width: 200px;
    background-color: #ffcc99;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 0;
    padding-top: 80px;
}

.sidebar-button {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    background-color: #800000;
    border: none;
    border-radius: 5px;
    color: #ddd;
    cursor: pointer;
    font-size: 16px;
}

.sidebar-button:hover {
    background-color: #ffcc99;
    color: #800000;
}

.logout {
    margin-top: auto;
    background-color: #d9534f;
}

.logout:hover {
    background-color: #c9302c;
}

.content {
    margin-left: 20%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex: 1;
}

.user-info {
    margin-bottom: 20px;
}

.user-info h2 {
    margin-bottom: 10px;
}

.user-info form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"], 
.form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 20px);
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px;
    padding-right: 30px;
}

.boton-submit {
    background-color: #ffcc99;
    color: #800000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.boton-submit:hover {
    background-color: #800000;
    color: #fff;
}
