@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding-top: 180px;
}

html {
    scroll-behavior: smooth;
}


/* ENCABEZADO */

header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.encabezado {
    display: flex;
    margin: 25px 40px 15px 40px;
    justify-content: space-between;
    align-items: center;
}


.contenedor-encabezado ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 50px;
}

#linkc {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
#titulo {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #AD3636;
    font-size: 50px;
    font-weight: bold;
}



#linkact {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #AD3636;
    font-size: 20px;
    font-weight: bold;
}

#linkc:hover {
    color: #ffaa2a;
    text-decoration: underline;
}


/* INICIAR */

.contenedor-imagen {
    position: relative;
    overflow: hidden;
    background-color: #340808;
}

.texto-imagen {
    position: absolute;
    top: 45%;
    left: 20px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 40px 90px 50px 90px;
    max-width: 25%;
    text-align: center;
}

.texto-imagen p {
    font-size: 20px;
    margin-bottom: 25px;
}

.texto-imagen a {
    margin: 0 10px;
    display: inline-block;
    background-color: #8F2626;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.texto-imagen a:hover {
    background-color: #eec9c9;
    color: #570c0c;
}


/* SECCION */

.barralibro {
    background-color: #340808;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.barralibro h1{
    margin: 30px;
    font-size: 75px;
}

.deg1 {
    margin: 0px;
    background: linear-gradient(#5D1D1D, #AD3636);
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

.inicio-guindo {
    background-color: #AD3636;
    padding: 1px;
    color: #AD3636;
    text-align: center;
}

.contenido {
    max-width: 60%;
    margin: 1px auto;
}

.c {
    display: flex;
    justify-content: space-around; /* Distribuye las columnas de manera equitativa */
    align-items: flex-start; /* Alinea el contenido arriba */
    margin-top: 0px; /* Espacio superior para separar del contenido anterior */
}

.ct {
    display: flex;
    justify-content: space-around; /* Distribuye las columnas de manera equitativa */
    align-items: flex-start; /* Alinea el contenido arriba */
    margin-top: 0px; /* Espacio superior para separar del contenido anterior */
    color: #000000;
}

.ct h3{
    line-height: 1.4;
}

.columna {
    flex: 1; /* Cada columna ocupa el mismo espacio */
    margin: 0 10px; /* Espacio entre las columnas */
}

.c .contenedor {
    padding: 30px;
}

.ct .contenedor {
    margin: 0;
    padding: 30px;
}

.contenedor {
    margin: 15px auto 35px;
    padding: 40px 100px;
    background-color: #fff;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    line-height: 1.8;
}

.contenedor p{
    color: #000000;
    font-size: 18px;
    text-align: justify;
}

.contenedor ul li{
    color: #000000;
    font-size: 18px;
    text-align: justify;
}

#reg {
    margin: 0 10px;
    display: inline-block;
    background-color: #8F2626;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

#reg:hover {
    background-color: #eec9c9;
    color: #570c0c;
}

.deg2 {
    margin: 0px;
    background: linear-gradient(#AD3636, #5D1D1D);
    padding: 20px;
}

#ccc {
    text-align: center;
}


/* FOOTER */

footer {
    margin: 0px auto;
    padding: 20px 10px 15px;
    background-color: #340808;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 10px;
}

footer p a{
    text-decoration: none;
    color: #ffffff;
}

footer p a:hover{
    text-decoration: underline;
    color: #fff1c5;
}